<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="container">
    <!-- Content here -->
    <button type="button" class="btn btn-success btn-lg btn-block"><h1>200 ml</h1></button>
    <br></br>
    <button type="button" class="btn btn-success btn-lg btn-block"><h1>400 ml</h1></button>
    <br></br>
    <button type="button" class="btn btn-success btn-lg btn-block"><h1>600 ml</h1></button>
    <br></br>
    <button type="button" class="btn btn-success btn-lg btn-block"><h1>800 ml</h1></button>
    <br></br>
    <button type="button" class="btn btn-success btn-lg btn-block"><h1>1000 ml</h1></button>
    
</div>
{% endblock %}